.main {
    width: 80%;
    margin-left: 10%;
}

.title {
    font-weight: lighter;
    font-size: 3rem;
}

.info {
    height: 1rem;
}

.share_box {
    float: right;
}

.desti_icons {
    float: right;
    margin-left: 8px;
}

.desti_icon {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
}

.desti_icon img {
    width: 25px;
    height: 25px;
}

.text {
    margin-top: 60px;
}

.text img {
    width: 80%;
    margin: 10px 10%;
}

.text p {
    line-height: 1.5rem;
}

.text li a {
    color: rgb(20, 20, 20);
}

.text li a:visited {
    color: rgb(124, 124, 124);
}

.youtube_video {
    width: 80%;
    height: 600px;
    margin-left: 10%;
}

/* alternative CSS for print */


@media print {
    @page {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header {
        background: none;
    }

    .mySocialMidiaIcons {
        display: none;
    }

    #nav_h {
        position: relative;
        top: -70px;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #nav_h a {
        color: rgba(20, 20, 20, 0.7) !important;
    }

    .main {
        margin-top: 70px;
    }

    .share_box {
        display: none;
    }

    .title {
        margin-bottom: 10px;
        margin-top: 40px;
    }

    .text {
        margin-top: 0;
    }

    .text img {
        width: 100%;
        margin-left: 0;
    }

    .footer {
        display: none;
    }

    .youtube_video { 
        display: none;
    }
}

